<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" crossorigin="anonymous">
    <!-- Enlace al archivo CSS externo -->
    <link rel="stylesheet" href="/static/css/StyleIndex.css">
    <title>Bienvenido a UNAChat</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">UNAChat</a>
    </nav>

    <div class="container text-center">
        <h1 class="display-4">Bienvenido a UNAChat</h1>
        <p class="lead">Implemente la autenticación OAuth en UNAChat y disfrute de la mejor experiencia de chat seguro.</p>

        <div class="jumbotron jumbotron-custom">
            <p class="lead">¡Este no es solo un chat cualquiera!</p>
            <p>Haga clic en el botón de abajo para iniciar sesión y unirse a la conversación.</p>
            <a href="/login" class="btn btn-login">Iniciar sesión</a>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>

</html>
